@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
*{
    margin:0;
    padding:0;
    text-decoration:none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
section{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap: 30px;
    text-align: center;
    font-family: Orbitron, sans-serif;
    font-size: 20px;
}
#section-top{
    background-color: brown;
}
#section-midl{
    background-color: skyblue;
}
#section-bot{
    background-color: mediumseagreen;
}
section a{
    color:black;
    font-size: 50px;
}