.class1>ul>li:nth-child(even) {
    color: pink;
}
.class2>ul>li:nth-child(odd) {
    font-size: 22px;
}
.class3>ul>li:nth-child(2n+4)::after {
    content: "!";
}
.class4>ul>li:last-child {
    color: darkviolet;
}
.class5>ul>li::first-letter {
    font-size: 30px;
    color: red;
}