html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 480px) {
    body {
        overflow-y: auto;
    }
    .items {
        width: 100%;
        padding: 32px 16px;
        flex-direction: column;
    }
    .item {
        width: 100%;
        gap: 40px;
    }
}